/*
    Coolin 2013
*/
/* 
    Created on : 08-Dec-2013, 15:47:29
    Author     : Colin
*/
body{
	margin:0 auto;
    max-width:600px;
	max-height:1024px;
	background-color:#000;
	color:#fff;
	border:1px solid #fff;
}
#container{
	margin:0 auto;
	text-align:center;
	background-color:#000;
	color:#fff;
}
#header{
	text-align:left;
}
#header img{
	float:right;
}


